name: automerge
on:
  pull_request_review:
    types:
      - submitted
  status: {}
jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.14.3"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_METHOD: "merge"
          UPDATE_METHOD: "rebase"
          MERGE_LABELS: ""
          UPDATE_LABELS: ""
          MERGE_REQUIRED_APPROVALS: 1
